/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* General */

body {
  color: #2b2b2b;
  font-family: Roboto, sans-serif;
}

header {
  border-bottom: 2px solid #f4f5f6;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /*  on scroll the box shadow is box-shadow: 1px 6px 20px rgba(0, 0, 0, 0.05); */
}

h1 {
  margin-top: 0px;
  padding-top: 0px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
  margin-bottom: 50px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

span {
  border-bottom: 2px solid #bab9ea;
}

footer {
  margin-top: 100px;
  background-color: #f4f5f6;
  padding: 50px 50px 20px 50px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

ul {
  margin-left: 20px;
  padding: 0px;
  line-height: 1.5;
}

summary {
  font-weight: bold;
  padding: 5px;
}

summary::marker {
  color: #6967c3;
}

/* Outer div */

.outer-div {
  background-color: #bab9ea;
  min-height: 100vh !important;
  padding: 25px 0px 25px 0px;
}

.page-content {
  background-color: white;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 93%;
  min-height: 90vh;
  border-radius: 15px;
  -webkit-box-shadow: 1px 3px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 3px 25px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 3px 25px rgba(113, 29, 217, 0.4);
          box-shadow: 1px 3px 25px rgba(113, 29, 217, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 100px;
}

/* Header section */

.header-logo {
  margin-left: 20px;
}

.page-header__item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menuitem:active {
  color: #bab9ea;
}
.menuitem {
  color: #6967c3;
  text-decoration: none;
  display: block;
}

.active:hover,
.active:focus {
  cursor: default;
}

.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
}
.active {
  border-bottom: 2px solid #bab9ea;
  color: #2b2b2b;
}

header p {
  padding: 40px 15px 37px 15px;
  margin: 0px;
  border-bottom: 3px solid white;
  display: block;
  height: 100%;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

header p:hover {
  background-color: #f4f5f6;
  padding-bottom: 37px;
  border-bottom: 3px solid #bab9ea;
  cursor: pointer;
}

header p:focus {
  background-color: #f4f5f6;
  padding-bottom: 37px;
  border-bottom: 3px solid #bab9ea;
  cursor: pointer;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* transition:  */
}

/* Buttons */

.button {
  background-color: #6967c3;
  -webkit-box-shadow: 1px 14px 20px 4px rgba(113, 111, 114, 0.1);
          box-shadow: 1px 14px 20px 4px rgba(113, 111, 114, 0.1);
  font-family: inherit;
  font-weight: 700;
  border: 2px solid #6967c3;
  padding: 15px;
  border-radius: 5px;
  color: white;
  -webkit-transition: color 300ms ease-in-out, background-color 300ms ease-in-out,
    border-color 300ms ease-in-out;
  -o-transition: color 300ms ease-in-out, background-color 300ms ease-in-out,
    border-color 300ms ease-in-out;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out,
    border-color 300ms ease-in-out;
}

.button:hover {
  cursor: pointer;
  background-color: white;
  color: #6967c3;
  border: 2px solid #6967c3;
}

.button:focus {
  cursor: pointer;
  background-color: white;
  color: #6967c3;
  border: 2px solid #6967c3;
}

/* Footer section */

.footer-content p {
  margin-left: 5px;
}

.footer-icon {
  height: 28px;
}

.footer-icon:hover,
.footer-icon:focus {
  cursor: pointer;
}

/* Homepage */

.homepage-footer{
  margin-top: 0px;
}

.placeholder__portrait {
  width: 250px;
  border-radius: 49%;
  position: absolute;
  top: 70px;
  left: 25px;
}

.profile-decorations {
  position: relative;
  margin-right: 50px;
}

.profile-decoration__circle {
  width: 300px;
  height: 300px;
  -webkit-box-shadow: 1px 14px 20px 4px rgba(113, 111, 114, 0.1);
          box-shadow: 1px 14px 20px 4px rgba(113, 111, 114, 0.1);
  background: -webkit-gradient(
    linear,
    left bottom, left top,
    from(rgb(195, 194, 241)),
    to(rgb(114, 111, 198))
  );
  background: -o-linear-gradient(
    bottom,
    rgb(195, 194, 241) 0%,
    rgb(114, 111, 198) 100%
  );
  background: linear-gradient(
    360deg,
    rgb(195, 194, 241) 0%,
    rgb(114, 111, 198) 100%
  );
  border-radius: 50%;
  -webkit-animation: 9s ease-in-out infinite alternate rotate-circle;
          animation: 9s ease-in-out infinite alternate rotate-circle;
}

@-webkit-keyframes rotate-circle {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-circle {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.profile {
  max-width: 700px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* About Page */

.main-about {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bio {
  max-width: 50%;
  border: 2px solid #bab9ea;
  border-radius: 10px;
  line-height: 2;
  padding: 30px 30px 40px 30px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.bio:hover {
  -webkit-box-shadow: 1px 14px 20px 4px rgba(113, 111, 114, 0.1);
          box-shadow: 1px 14px 20px 4px rgba(113, 111, 114, 0.1);
  border: 2px solid #bab9ea;
}

.bio:focus {
  -webkit-box-shadow: 1px 14px 20px 4px rgba(113, 111, 114, 0.1);
          box-shadow: 1px 14px 20px 4px rgba(113, 111, 114, 0.1);
  border: 2px solid #bab9ea;
}

.bio p {
  margin-top: 0px;
  margin-bottom: 40px;
}

.bio h1 {
  margin: 0px;
}

.skills {
  text-align: left;
  width: 75%;
  margin: 0 auto;
}

.skills-list_item {
  padding: 10px;
  border-bottom: 2px solid #f4f5f6;
  margin: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-list__content {
  padding-left: 15px;
}

.last {
  border-bottom: none;
}

.projects-title {
  text-decoration: underline;
  margin-bottom: 0px;
}

.skills-list_item:hover {
  background-color: #f4f5f6;
  border-radius: 5px;
  cursor: pointer;
}

.skills-list_item:focus {
  background-color: #f4f5f6;
  border-radius: 5px;
  cursor: pointer;
}

/* Portfolio Section (work page) */

.project-name {
  color: black;
}

.portfolio-title {
  text-align: center;
  padding-top: 25px;
}

.main-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 75px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 75px;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.main-grid__item {
  padding: 25px;
  border: 2px solid #bab9ea;
  border-radius: 10px;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.main-grid__item:hover {
  -webkit-box-shadow: 1px 14px 20px 4px rgba(113, 111, 114, 0.1);
          box-shadow: 1px 14px 20px 4px rgba(113, 111, 114, 0.1);
  cursor: pointer;
}

.main-grid__item:focus {
  -webkit-box-shadow: 1px 14px 20px 4px rgba(113, 111, 114, 0.1);
          box-shadow: 1px 14px 20px 4px rgba(113, 111, 114, 0.1);
  cursor: pointer;
}

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-grid__button {
  margin-bottom: 20px;
}

.screenshot {
  width: 90%;
  margin: 0 auto;
}

/* Case Studies (projects) */

.technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bold {
  font-weight: bold;
}

.technologies-logo {
  margin: 0px 5px;
}

.screenshot-portrait {
  width: 160px;
}

.text-left {
  width: 70%;
}

.image-right {
  margin-left: 75px;
}

.spacing-adjust_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left !important;
      -ms-flex-pack: left !important;
          justify-content: left !important;
}

.back-link {
  font-weight: bold;
  padding-left: 75px;
  color: #6967c3;
}

.overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 2px solid #bab9ea;
  border-top: 2px solid #bab9ea;
  width: 90%;
  margin: 0 auto;
  padding: 25px 0px;
}

.case-study-screenshot_medium {
  width: 700px;
}

.overview-text {
  width: 600px;
}

.technologies-container_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.composers-title {
  text-align: center;
  padding-bottom: 25px;
}

.angular-screenshot {
  width: 400px;
  padding-bottom: 50px;
}

.technologies-container_react {
  padding-right: 75px;
}

.technologies-container_angular {
  padding-right: 75px;
}

.github-links_container {
  padding-top: 25px;
  padding-bottom: 50px;
}

.github-link {
  margin-right: 10px;
}

.objective-container {
  border-bottom: 2px solid #bab9ea;
  width: 90%;
  margin: 0 auto;
  padding: 25px 0px;
}

.technologies-container {
  border-bottom: 2px solid #bab9ea;
  width: 90%;
  margin: 0 auto;
  padding: 25px 0px;
}

.process-container {
  border-bottom: 2px solid #bab9ea;
  width: 90%;
  margin: 0 auto;
  padding: 25px 0px;
}

.process-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
}

.subheading-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.subheading-flex_item {
  margin: 0px;
}

.result-container {
  border-bottom: 2px solid #bab9ea;
  width: 90%;
  margin: 0 auto;
  padding: 25px 0px;
}

.review-container {
  width: 90%;
  margin: 0 auto;
  padding: 25px 0px;
}

.subtitle {
  color: #6967c3;
  font-weight: bold;
}

.case-study_screenshot {
  width: 550px;
  margin: 0 auto;
  padding: 25px 0px;
}

.case-study_screenshot_large {
  width: 750px;
  margin: 0 auto;
  padding: 25px 0px;
}

.spaced {
  line-height: 2;
}

.react-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-icon {
  padding-left: 10px;
}

.flex-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat-screenshot {
  height: 400px;
}

.pokemon-image_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.pokemon-image {
  width: 575px;
}

/*Contact Page*/

.contact-title {
  text-align: center;
}

.contact-info {
  width: 40%;
  height: 40%;
  margin: 0 auto;

  margin-top: 50px;
  padding: 50px;
  border: 2px solid #bab9ea;
  border-radius: 10px;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  background-color: #f4f5f6;
}

.contact-info:hover {
  -webkit-box-shadow: 1px 14px 20px 4px rgba(113, 111, 114, 0.1);
          box-shadow: 1px 14px 20px 4px rgba(113, 111, 114, 0.1);
}

.contact-info:focus {
  -webkit-box-shadow: 1px 14px 20px 4px rgba(113, 111, 114, 0.1);
          box-shadow: 1px 14px 20px 4px rgba(113, 111, 114, 0.1);
}

.contact-info__item {
  color: #6967c3;
  font-weight: 700;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.contact-info__item:hover,
contact-info__item:focus {
  text-decoration: underline;
}

/* Media Queries */

@media all and (max-width: 500px) {
  .main-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 300px 75px 300px 75px 300px 75px 300px 75px 300px 75px 300px;
    grid-template-rows: repeat(6, 300px);
  }
  .main-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .main-grid > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .main-grid > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .main-grid > *:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .main-grid > *:nth-child(5) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .main-grid > *:nth-child(6) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }

  .main-about {
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
  }
}

@media all and (min-width: 501px) and (max-width: 750px) {
  .main-grid {
    -ms-grid-columns: 1fr 75px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  h1 {
    font-size: 22px;
    margin-top: 30px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 18px;
  }

  .page-content {
    gap: 0px;
  }

  .outer-div {
    padding: 5px 0px 5px 0px;
  }

  .header-logo {
    display: none;
  }

  .nav-right {
    width: 100%;
    padding-right: 0px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .main-grid {
    grid-gap: 50px;
  }

  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .profile-text {
    text-align: center;
  }

  .profile-text__item {
    margin-bottom: 50px;
  }

  .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    width: 90%;
    margin: 0 auto;
  }
  .main-about {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }

  .skill-flex {
    max-width: 400px;
    height: 400px;
  }
  .skill-box {
    margin-bottom: 20px;
  }

  .skills h2 {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .bio {
    margin: 0px;
    padding: 20px;
    border: none;
    border-radius: 0px;
    max-width: 100%;
  }
  .bio p {
    margin-bottom: 40px;
  }

  .main-grid {
    width: 100%;
    height: 100%;
    -ms-grid-rows: 300px 50px 300px 50px 300px 50px 300px;
    grid-template-rows: repeat(4, 300px);
  }

  .main-grid__item {
    width: 90%;
    margin: 0 auto;
    border-radius: 0px;
  }

  .profile-decorations {
    margin-right: 0px;
  }

  .profile .profile-decoration__circle {
    margin-right: 0px;
  }

  .placeholder__portrait {
    margin-right: 0px;
  }

  /* Work & portfolio */

  .back-link {
    padding-left: 15px;
  }

  .project-nav {
    margin-bottom: 25px;
  }

  .overview {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .angular-screenshot {
    width: 90%;
  }

  .technologies-container_flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .case-study_screenshot {
    width: 90%;
  }

  .data-example {
    width: 90%;
  }

  .image-right {
    margin: 0 auto;
  }
  .flex-display {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .case-study_screenshot_large {
    width: 90%;
  }

  .text-left {
    width: 100%;
  }

  .pokemon-image {
    width: 90%;
  }
}